<!DOCTYPE html>

<html>
  <head>
    <title><%= title %> - Elasticspark</title>
    <%- include('head.ejs'); %>
  </head>
  <body>
    
    <%- include('navbar.ejs'); %>


      <h1><%= title %></h1>
      <ul>
        <li>This website is being run off of a Raspberry Pi 4.</li>
        <li> The source code is available <a href="https://github.com/oberlin-t/elasticspark">here</a>.</li>
      </ul>

  </body>
</html
