<!DOCTYPE html>

<html>
  <head>
    <title><%= title %> - Elasticspark</title>
    <%- include('head.ejs'); %>
  </head>
  <body>
    
    <%- include('navbar.ejs'); %>

    <div>
      <h1>Cats!</h1>
      <img src="images/trip.jpg" alt="Image of my cat." width="358" height="618">
      <img src="images/trip2.jpg" alt="Image of my cat." width="463" height="618">
      <img src="images/trip3.jpg" alt="Image of my cat." width="463" height="618">
      <img src="images/trip4.jpg" alt="Image of my cat." width="463" height="618">
      <img src="images/trip5.jpg" alt="Image of my cat." width="463" height="618">
      <img src="images/trip6.jpg" alt="Image of my cat." width="463" height="618">
    </div>
  </body>
</html
