<!DOCTYPE html>

<html>
  <head>
    <title><%= title %> - Elasticspark</title>
    <%- include('head.ejs'); %>
    <script src="scripts/cats.js"></script>
  </head>
  <body>
    
    <%- include('navbar.ejs'); %>


    <h1>Cats!</h1>
   
      <span onclick="revealMore('trip')" class="profile">
        <img id="trip" src="images/trip6.jpg" alt="Image of my cat." width="30%">
      </span>

      <span onclick="revealMore('hopper')" class="profile">
        <img id="hopper" src="images/hopper.jpg" alt="Image of my cat." width="30%">
      </span>

      <br>
      
      <span onclick="revealMore('chad')" class="profile">
        <img id="chad" src="images/chad.jpg" alt="Image of my cat." width="30%">        
      </span>

      <span onclick="revealMore('denali')" class="profile">
        <img id="denali" src="images/denali.jpg" alt="Image of my cat." width="30%">
      </span>


      
      <div class="theCats" id="tripImages">
        <script>initialHideCats();</script>
        <img loading="lazy" src="images/trip6.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/trip5.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/trip4.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/trip3.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/trip2.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/trip.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/trip7.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/trip8.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/trip9.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/trip10.jpg" alt="Image of my cat." width="30%">
      </div>
      <div class="theCats" id="chadImages">
        <script>initialHideCats();</script>
        <img loading="lazy" src="images/chad.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/chad2.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/chad3.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/chad4.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/chad5.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/chad6.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/chad7.jpg" alt="Image of my cat." width="30%">
      </div>
      <div class="theCats" id="denaliImages">
        <script>initialHideCats();</script>
        <img loading="lazy" src="images/denali.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/denali2.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/denali3.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/denali4.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/denali5.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/denali6.jpg" alt="Image of my cat." width="30%">
      </div>
      <div class="theCats" id="hopperImages">
        <script>initialHideCats();</script>
        <img loading="lazy" src="images/hopper.jpg" alt="Image of my cat." width="30%">
        <img loading="lazy" src="images/hopper2.jpg" alt="Image of my cat." width="30%">
      </div>
            
  </body>
</html>
