<!DOCTYPE html>

<html>
  
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="description" content="My personal website!">
    <meta name="keywords" content="elasticspark, cats">
    <meta name="author" content="Thomas Oberlin">
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
    <link rel="stylesheet" href="styles/style.css">
    <script src="scripts/settings.js"></script>
    <script>loadColors();</script>
  <head/>
  
  <body>

    <div class="navbar">
      <a class="active" href="/">Home</a>
      <a href="cats">Cat Pics</a>
      <a href="settings">Settings</a>
    </div>

    <div>
      <h1>Welcome to <%= title %>!</h1>
      <p><b>Recent Updates:</b><br/>* Moved cats pics to seperate page.<br/>* Added temporary favicon.<br/>* Added navbar.<br/>* Added a theming section in settings.<br/>* Added secondary and tertiary colors.<br/>* Squashed bug where navbar didn't change in settings.<br/>* Added HTTPS.<br/><br/><b>Status of this Website:</b><br/>This website is very much a WIP. For now it will serve as a gallery for images of my cat.</p>
    </div>
  </body>
</html>
