<!DOCTYPE html>

<html>
  
  <head>
    <title><%= title %></title>
    <meta name="description" content="My personal website!">
    <meta name="keywords" content="elasticspark, cats">
    <meta name="author" content="Thomas Oberlin">
    <%- include('head.ejs'); %>
  <head/>
  
  <body>

    <%- include('navbar.ejs'); %>
 

      <h1>Welcome to <%= title %>!</h1>
      <p><b>Recent Updates:</b><br/>* There have been many. I lost track of them.</p>

  </body>
</html>
