<!DOCTYPE html>

<html>
  <head>
    <title><%= title %> - Elasticspark</title>
    <%- include('head.ejs'); %>
    <script src="scripts/messages.js"></script>
  </head>
  <body>
    
    <%- include('navbar.ejs'); %>


      <h1><%= title %></h1>
      <form onsubmit="getUsername(); redirect(); return false;">
      <label for="username">Username</label><br>
      <input name="username" id="username" required> <br>
      <input type="submit" value="Login/Sign-Up"> <br>
      </form>

  </body>
</html
