<!DOCTYPE html>

<html>
  
  <head>
    <title><%= title %></title>
    <meta name="description" content="My personal website!">
    <meta name="keywords" content="elasticspark, cats">
    <meta name="author" content="Thomas Oberlin">
    <%- include('head.ejs'); %>
    <script src="scripts/messages.js"></script>
  <head/>
  
  <body>

    <%- include('navbar.ejs'); %>
 
    <div>
      <h1><%= title %>!</h1>

      <label for "username">Input username.</label> <br>
      <input name="username" id="username"> <br>

      <form action="/messages" method="POST" onsubmit="getUsername()">
        <label for="reciever">Input target username.</label> <br>
        <input name="reciever" id="reciever"> <br>
        <label for="text">Input Message</label> <br>
        <input name="text" id="text"> <br>
        <input type="submit" onclick="getUsername()" value="Fire The Cannon!">
      </form>

    </div>
  </body>
</html>
