
<!DOCTYPE html>

<html>
  
  <head>
    <title><%= title %></title>
    <meta name="description" content="My personal website!">
    <meta name="keywords" content="elasticspark, cats">
    <meta name="author" content="Thomas Oberlin">
    <%- include('head.ejs'); %>
  <head/>
  
  <body>

    <%- include('navbar.ejs'); %>
 
    <div>
      <h1><%= title %>!</h1>
      <form action="/messages" method="POST">
      <label for="say">This is a question?</label>
      <input name="say" id="say" value="Hi">
      <button>Fire The Cannon!</button>
        
      </form>
    </div>
  </body>
</html>
