<!DOCTYPE html>

<html>
  <head>
    <title><%= title %> - Elasticspark</title>
    <%- include('head.ejs'); %>
  </head>
  <body>

    
    <div class="navbar">
      <a href="/">Home</a>
      <a href="cats">Cat Pics</a>
      <a class="active" href="settings">Settings</a>
    </div>
    
    <div id="blah">
      <h2>Appearance</h2>
      <p>To change the foreground and background colors, just type in the hex code and hit "Apply".</p>
      <b>Foreground Color: #</b><input type="text" size="6" maxlength="6" id="fgcolor" name="fgcolor"> <br/>
      <b>Background Color: #</b><input type="text" size="6" maxlength="6" id="bgcolor" name="bgcolor"> <br/>
      <button onclick="grabColors()">Apply</button>
    </div>
  </body>
</html>
