<!DOCTYPE html>

<html>
  <head>
    <title><%= title %> - Elasticspark</title>
    <%- include('head.ejs'); %>

  </head>
  <body>

    <%- include('navbar.ejs'); %>
    
    <div id="blah" class="main">
      <h2>Appearance</h2>
      <b>Foreground Color: </b><input type="color" id="fgcolor" name="fgcolor" value="#000000"> <br/>
      <b>Background Color: </b><input type="color" id="bgcolor" name="bgcolor" value="#ffffff"> <br/>
      <button onclick="grabColors()">Apply</button>
    </div>
    <script> setColorChooser("fgcolor"); setColorChooser("bgcolor"); </script>
  </body>
</html>
