:root {
    --bg-color: #ffffff;
    --fg-color: #000000;
}

body {
    background-color: var(--bg-color);
}

div.main {
    color: var(--fg-color);
    font-family: DejaVu Sans Mono, monospace;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.navbar {
    overflow:hidden;
}

.navbar a {
    float: left;
    text-align: center;
    color: var(--fg-color);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.flexparent {
    display: flex;
    justify-content: flex-start;
}

.flexitem {
    flex-grow: 4;
}

div.messageDisplay {
    border: var(--fg-color) 0.25vw solid;
    width: 25vw;
    height: 25vw;
    overflow: scroll;
}
