body {
    background-color: #ffffff;
}

div {
    color: #000000;
    font-family: Source Code Pro, monospace;
    margin: 25px 200px 10px;
}

.navbar {
    overflow:hidden;
}

.navbar a {
    float: left;
    text-align: center;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: green;
}

.navbar a.active {
    color: purple;
}
